/* formulario de filtros */
.forms {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 30px;
  margin-bottom: 30px;
}

/* filtros */
.filter-forms {
  display: flex;
  flex-direction: row;
}

/* configuração de estilo dos inputs */
.search-input, .filters input, .filters select, 
.orders select, .orders label {
  background-color: transparent;
  border: 2px solid #FFE81F;
  border-radius: 5px;
  color: white;
  font-size: 14px;
}

/* input de pesquisa por nome */
.search-input {
  width: 340px;
  height: 30px;
  margin-bottom: 20px;
  text-align: center;
  font-size: 18px;
}

/* estilo dos inputs quando o mouse passa em cima */
.search-input:hover, .filters input:hover,
.filter-button:hover, .remove-filters:hover,
.filters select:hover, .orders select:hover,
.orders label:hover, .filter-item button:hover {
  box-shadow: inset 0 0 0.5em #FFE81F,
  0 0 0.5em #FFE81F;
  transition: 0.1s;
  transform: scale(1.05);
}

/* estilo dos inputs quando estão selecionados */
.search-input:focus, .filters input:focus {
  box-shadow: inset 0 0 0.5em #FFE81F,
  0 0 0.5em #FFE81F;
  transform: scale(1.05);
  outline: #FFE81F;
}

.filters select:focus, .filters select:focus, .orders select:focus {
  outline: #FFE81F;
}

/* blocos com os filtros e ordenadores */
.filters, .orders {
  width: 170px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.filters {
  margin-right: 10px;
}

.orders {
  margin-left: 10px;
  
}

/* configuração dos elementos do bloco de filtros */
.filters input {
  width: 156px;
  height: 31px;
  margin-bottom: 10px;
  padding: 0;
  text-align: center;
}

/* filtros desabilitados */
.filters input:disabled, .filters select:disabled, .filter-button:disabled {
  transform: none;
  opacity: 50%;
}

/* estilo dos selects */
.select-filter {
  width: 160px;
  height: 35px;
  margin-bottom: 10px;
  text-align: center;
}

.select-comparation {
  width: 160px;
  height: 35px;
  text-align: center;
}

.filters select option {
  background-color: black;
}

/* configuração dos elementos do bloco de ordenadores */
.orders select {
  width: 160px;
  height: 35px;
  text-align: center;
}

.orders select option {
  background-color: black;
}

.orders label {
  width: 156px;
  height: 31px;
  margin-top: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.orders label input {
  margin-right: 0;
  accent-color: #FFE81F;
}

.buttons {
  display: flex;
  justify-content: space-between;
  width: 350px;
  margin-top: 15px;
  margin-bottom: 20px;
}

/* botões de filtragem e ordenagem */
.filter-button {
  width: 100px;
  height: 35px;
  background-color: transparent;
  color: white;
  font-size: 16px;
  border: 2px solid #FFE81F;
  border-radius: 5px;
}

/* botão de remover filtros */
.remove-filters {
  width: 130px;
  height: 35px;
  background-color: transparent;
  color: white;
  font-size: 16px;
  border: 2px solid #FFE81F;
  border-radius: 5px;
}

/* lista dos filtros aplicados */
.filter-list {
  width: 100%;
  align-self: center;
  display: flex;
  align-items: flex-start;
  overflow-x: auto;
  font-size: 18px;
}

.filter-item {
  min-width: 220px;
  height: 35px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  border: 1px solid #FFE81F;
  border-radius: 5px;
  padding: 5px;
  margin: 0 5px;
  line-height: 18px;
}

/* botão de deletar o filtro */
.filter-item button {
  margin-left: 20px;
  background-color: transparent;
  border: 1px solid #FFE81F;
  border-radius: 5px;
  color: #FFE81F;
}

/* responsividade para telas com largura maior ou igual a 1060px */
@media screen and (min-width: 1060px) {
  /* formulario de filtros */
  .forms {
    margin-top: 45px;
    margin-bottom: 40px;
  }

  /* configuração de estilo dos inputs */
  .search-input, .filters input, .filters select, 
  .orders select, .orders label {
    font-size: 22px;
  }

  /* input de pesquisa por nome */
  .search-input {
    width: 800px;
    height: 45px;
    margin-bottom: 30px;
    font-size: 24px;
  }

  /* blocos com os filtros e ordenadores */
  .filters, .orders {
    width: 520px;
  }

  .filters {
    margin-right: 20px;
  }

  .orders {
    margin-left: 20px;
  }

  /* configuração dos elementos do bloco de filtros */
  .filters input {
    width: 376px;
    height: 41px;
    margin-bottom: 0px;
  }

  /* estilo dos selects */
  .select-filter, .select-comparation {
    width: 230px;
    height: 45px;
    margin: 15px 15px 0px 15px;
  }

  /* configuração dos elementos do bloco de ordenadores */
  .orders select {
    width: 380px;
    height: 45px;
  }

  .orders label {
    width: 226px;
    height: 41px;
    margin: 25px 15px 0px 15px;
  }

  .buttons {
    margin-top: 25px;
    width: 800px;
  }

  /* botões de filtragem e ordenagem */
  .filter-button {
    width: 220px;
    height: 50px;
    font-size: 26px;
  }

  /* botão de remover filtros */
  .remove-filters {
    width: 220px;
    height: 50px;
    font-size: 26px;
  }

  /* lista dos filtros aplicados */
  .filter-list {
    margin-top: 10px;
    height: auto;
    justify-content: center;
  }

  .filter-item {
    width: 260px;
    padding: 12px;
    margin: 0 10px;
    font-size: 18px;
    line-height: 23px;
  }
}