/* página inicial */
.home-page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* logo da página */
.star-img {
  width: 340px;
  animation: bottom-to-top 14s infinite;
}

.wars-img {
  width: 340px;
  animation: top-to-bottom 14s infinite;
}

.planets-search-img {
  width: 340px;
  opacity: 1;
  animation: appear 14s infinite;
}

/* animação da logo */
@keyframes bottom-to-top {
  0% {
    transform: translateY(0%);
  }
  25% {
    transform: translateY(0%);
  }
  50% {
    transform: translateY(-10%) scale(0.9);
  }
  75% {
    transform: translateY(-10%) scale(0.9);
  }
  100% {
    transform: translateY(0%);
  }
}

@keyframes top-to-bottom {
  0% {
    transform: translateY(0%);
  }
  25% {
    transform: translateY(0%);
  }
  50% {
    transform: translateY(10%) scale(0.9);
  }
  75% {
    transform: translateY(10%) scale(0.9);
  }
  100% {
    transform: translateY(0%);
  }
}

@keyframes appear {
  0% {
    opacity: 0;
    transform: scale(0.9);
  }
  25% {
    opacity: 0;
    transform: scale(0.9);
  }
  50% {
    opacity: 1;
    transform: scale(1);
  }
  75% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(0.9);
  }
}

/* responsividade para telas com largura maior ou igual a 2000px */
@media screen and (min-width: 1024px) {
 /* logo da página */
.star-img {
  width: 1000px;
}

.wars-img {
  width: 1000px;
}

.planets-search-img {
  width: 1000px;
}
}