/* div contando a tabela e a scrollbar */
.main-content {
  display: none;
  width: 10px;
  height: 430px;
  margin-bottom: 20px;
  overflow-y: scroll;
}

/* função de bloquear os efeitos do ponteiro do mouse */
.colum-title, .table-cel {
  pointer-events: none;
}

/* espaço para aparecer o primeiro item da tabela */
.main-table {
  margin-top: 80px;
}

/* linha header da tabela */
.main-table thead tr {
  background-color: #FFE81F;
  color: black;
  text-align: center;
  font-weight: bold;
  position: absolute;
  margin-top: -80px;
}

.colum-title {
  width: 154.4px;
  height: 75px;
  text-align: center;
  vertical-align: middle;
  font-size: 20px;
}

/* linhas da tabela */
.table-cel {
  width: 154.4px;
  text-align: center;
  vertical-align: middle;
  font-size: 18px;
  padding: 10px 0; 
}

/* coluna com os nomes e imagens dos planetas */
.planet-name {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  margin-bottom: 15px;
}

.planet-name img {
  grid-row: 1/4;
  grid-column: 1/3;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.planet-name p {
  font-size: 20px;
  font-weight: bold;
  background-color: black;
  grid-row: 2/3;
  grid-column: 2;
  align-self: center;
} 

/* celulas da tabela */
.table-cel {
  color: white;
}

/* estilo da scrollbar */
::-webkit-scrollbar {
  width: 8px;
  height: 4px;
}

::-webkit-scrollbar-track {
  margin-block-start: 82px;
}

::-webkit-scrollbar-thumb {
  background: #FFE81F;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #CCBA18
}

/* responsividade para telas com largura maior ou igual a 2000px */
@media screen and (min-width: 2000px) {
  /* div contando a tabela e a scrollbar */
  .main-content {
    width: 1900px;
    height: 590px;
  }

  /* espaço para aparecer o primeiro item da tabela */
  .main-table {
    margin-top: 80px;
  }

  /* linha header da tabela */
  .main-table thead tr {
    margin-top: -80px;
  }

  .colum-title {
    width: 211.1px;
    height: 80px;
    font-size: 26px;
  }

  /* linhas da tabela */
  .table-cel {
    width: 211.1px;
    font-size: 24px;
    padding: 25px 0; 
  }

  /* coluna com os nomes e imagens dos planetas */
  .planet-name img {
    width: 130px;
    height: 130px;
  }

  .planet-name p {
    font-size: 28px;
  } 
}